[data-theme="dark"] {
  background: #101217 !important;
  color: #EAE2D7 !important;
}

[data-theme="dark"] hr {border-top:1px solid rgba(244, 244, 244, 0.25); margin: 0 0;}

[data-theme="dark"] .h-color:hover {color: #F2C280 !important;}

[data-theme="dark"] #logo-container svg {fill: #EAE2D7;}

[data-theme="dark"] svg {fill: #EAE2D7;}

[data-theme="dark"] .card {    
    background: rgba(54, 59, 74, 0.4) !important; 
    border: 0.2px solid rgba(244,244,244,0.25);
    -webkit-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.85);
    -moz-box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.85);
    box-shadow: 4px 4px 10px -5px rgba(0,0,0,0.85);
}

[data-theme="dark"] #sec-3 .card:hover {background-color:rgba(244,244,244,0.8) !important; color:#2B303E;}
[data-theme="dark"] .btn {color: #EAE2D7 !important;}
[data-theme="dark"] .btn:hover {background-color: rgba(244,244,244,0.8) !important; color:#2B303E !important;}

[data-theme="dark"] .modal-content {background-color:  #101217;}
[data-theme="dark"] .modal-backdrop {opacity: 0.8;}


